<td>{{pin.state}}</td>
<td class="numeric">
    {{#link-to "pins.pin" pin.pinNum}}{{pin.pinNum}}{{/link-to}}
</td>
    {{#if editing}}
        <td class="borderedCell">
            {{input class="edit" value=pin.name enter="submitName" 
                autofocus="autofocus" focus-out="focusOutInput"}}
        </td>
    {{else}}
        <td class="borderedCell" {{action "editPinName" on="doubleClick"}}>
            {{#link-to "pins.pin" pin.pinNum}}{{pin.name}}{{/link-to}}
        </td>
    {{/if}}
<td>
  <button {{action "deletePin"}} class="destroy"></button>
</td>
