{{#if this.isEditing}}
  <td class="numeric">
  {{edit-view class="edit" 
    value=startTime 
    insert-newline="acceptChanges"}}
  </td>
  <td class="numeric">
  {{edit-view class="edit" 
    value=fromRange 
    insert-newline="acceptChanges"}}
  </td>
  <td class="numeric">
  {{edit-view class="edit" 
    value=toTm
    insert-newline="acceptChanges"}}
  </td>
  <td class="numeric">
  {{edit-view class="edit" 
    value=toRange 
    insert-newline="acceptChanges"}}
  </td>
{{else}}
  <td class="numeric">
    <lable>{{sequence.startTime}}</lable>
  </td>
  <td class="numeric">
    <lable>{{sequence.startRange}}</lable>
  </td>
  <td class="numeric">
    <lable>{{sequence.endTime}}</lable>
  </td>
  <td class="numeric">
    <lable>{{sequence.endRange}}</lable>
  </td>
{{/if}}
<td>
  <button {{action "deleteSequence"}} class="destroy"></button>
</td>
