{{#if editing}}
  <td class="numeric">
    {{input
      type="text"
      value=sequence.startTime
      enter="editSequence"
      autofocus="autofocus"}}
  </td>
  <td class="numeric">
    {{input
      type="text"
      value=sequence.startRange
      enter="editSequence"}}
  </td>
  <td class="numeric">
    {{input
      type="text"
      value=sequence.endTime
      enter="editSequence"}}
  </td>
  <td class="numeric">
    {{input
      type="text"
      value=sequence.endRange
      enter="editSequence"}}
  </td>
{{else}}
  <td class="numeric" {{action "editSequence" on="doubleClick"}}>
    <lable>{{sequence.startTime}}</lable>
  </td>
  <td class="numeric" {{action "editSequence" on="doubleClick"}}>
    <lable>{{sequence.startRange}}</lable>
  </td>
  <td class="numeric" {{action "editSequence" on="doubleClick"}}>
    <lable>{{sequence.endTime}}</lable>
  </td>
  <td class="numeric" {{action "editSequence" on="doubleClick"}}>
    <lable>{{sequence.endRange}}</lable>
  </td>
{{/if}}
<td>
  <button {{action "deleteSequence"}} class="destroy"></button>
</td>
