<h2>{{name}}</h2>
<table id="timeTable">
  <thead>
    <tr>
      <th class="borderedCell">Start  </th>
      <th class="borderedCell">Range  </th>
      <th class="borderedCell">End    </th>
      <th class="borderedCell">Range  </th>
      <th width="20"></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.schedules itemController="time"}}
        <tr {{action "editTime" on="doubleClick"}}>
        {{#if this.isEditing}}
          <td class="numeric">
          {{edit-view class="edit" 
            value=fromTm 
            insert-newline="acceptChanges"}}
          </td>
        {{else}}
          <td class="numeric">
            <lable>{{fromTm}}</lable>
          </td>
        {{/if}}
        {{#if this.isEditing}}
          <td class="numeric">
          {{edit-view class="edit" 
            value=fromRange 
            insert-newline="acceptChanges"}}
          </td>
        {{else}}
          <td class="numeric">
            <lable>{{fromRange}}</lable>
          </td>
        {{/if}}
        {{#if this.isEditing}}
          <td class="numeric">
          {{edit-view class="edit" 
            value=toTm
            insert-newline="acceptChanges"}}
          </td>
        {{else}}
          <td class="numeric">
            <lable>{{toTm}}</lable>
          </td>
        {{/if}}
        {{#if this.isEditing}}
          <td class="numeric">
          {{edit-view class="edit" 
            value=toRange 
            insert-newline="acceptChanges"}}
          </td>
        {{else}}
          <td class="numeric">
            <lable>{{toRange}}</lable>
          </td>
        {{/if}}
        <td>
          <button {{action "removeTime"}} class="destroy"></button>
        </td>
        </tr>
    {{/each}}
      <td class="borderedCell">
        {{input
          type="text" 
          value=fromTm 
          placeholder="von" 
          enter="addTime"}}
      </td><td class="borderedCell">
        {{input type="text" 
          value=fromRange 
          placeholder="streuung" 
          enter="addTime"}}
      </td><td class="borderedCell">
        {{input 
          type="text" 
          value=toTm
          placeholder="bis"
          enter="addTime"}}
      </td><td class="borderedCell">
        {{input 
          type="text" 
          value=toRange
          placeholder="streuung"
          enter="addTime"}}
      </td>
  </tbody>
</table>
